<%- include('partials/header'); -%>

<ul class="courses">
  <li class="course">
    <img src="/course.png" alt="course icon">
    <h4>Course title</h4>
    <p>Course description and professor name</p>
  </li>
  <li class="course">
    <img src="/course.png" alt="course icon">
    <h4>Course title</h4>
    <p>Course description and professor name</p>
  </li>
  <li class="course">
    <img src="/course.png" alt="course icon">
    <h4>Course title</h4>
    <p>Course description and professor name</p>
  </li>
  <li class="course">
    <img src="/course.png" alt="course icon">
    <h4>Course title</h4>
    <p>Course description and professor name</p>
  </li>
  <li class="course">
    <img src="/course.png" alt="course icon">
    <h4>Course title</h4>
    <p>Course description and professor name</p>
  </li>
  <li class="course">
    <img src="/course.png" alt="course icon">
    <h4>Course title</h4>
    <p>Course description and professor name</p>
  </li>
</ul>

<%- include('partials/footer'); -%>