<%- include('partials/header'); -%>

<header>
  <div class="course">
    <img src="/course.png" alt="">
  </div>
  <div class="headings">
    <h2>E-learning</h2>
    <h3>By Boulahtar</h3>
    <a href="/courses" class="btn">View Courses</a>
  </div>
</header>


<%- include('partials/footer'); -%>